<ng-container>
    <!-- Проверка наличия дефолтных шаблонов -->
    @if (!defaultHeaderTemplate || !defaultCellTemplate) {
        <div class="error-message">
            Ошибка: необходимо предоставить дефолтные шаблоны для отображения заголовков и ячеек таблицы.
        </div>
    }

    <!-- Основная таблица -->
    <tui-loader
        [overlay]="true"
        [showLoader]="!!(loading$ | async)"
    >
        @if (data$ | async; as data) {
            <table
                tuiTable
                class="table"
                [columns]="columns"
                [direction]="(direction$ | async) ?? -1"
                [tuiSortBy]="sortKey$ | async"
                (tuiSortChange)="change($event)"
            >
                <thead>
                    <tr tuiThGroup>
                        @for (columnCode of columns; track columnCode) {
                            <th
                                tuiTh
                                *tuiHead="columnCode"
                                [attr.id]="columnCode"
                                [tuiSortable]="isColumnSortable(columnCode)"
                                [resizable]="isColumnResizable(columnCode)"
                                [style.width.px]="getColumnStartSize(columnCode)"
                                [style.min-width.px]="getColumnMinSize(columnCode)"
                                [style.max-width.px]="getColumnMaxSize(columnCode)"
                                [requiredSort]="isColumnSortable(columnCode)"
                                (tuiResized)="onColumnWidthChange(columnCode, $event)"
                            >
                                @if (getHeaderTemplate(columnCode); as headerTemplate) {
                                    <ng-container *ngTemplateOutlet="headerTemplate; context: { $implicit: getColumnName(columnCode) }"></ng-container>
                                }
                            </th>
                        }
                    </tr>
                </thead>
                <tbody
                    *tuiLet="data | tuiTableSort as sortedData"
                    tuiTbody
                    [data]="sortedData"
                >
                    @for (item of sortedData; track item) {
                    <tr tuiTr>
                        @for (columnCode of columns; track columnCode) {
                        <td
                            *tuiCell="columnCode"
                            tuiTd
                        >
                            @if (getCellTemplate(columnCode); as cellTemplate) {
                                <ng-container *ngTemplateOutlet="cellTemplate; context: { $implicit: item[columnCode] }"></ng-container>
                            }
                        </td>
                        }
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td [colSpan]="columns.length">
                            <tui-table-pagination
                                class="tui-space_top-2"
                                [page]="(page$ | async) || 0"
                                [total]="totalItems"
                                (paginationChange)="onPagination($event)"
                            />
                        </td>
                    </tr>
                </tfoot>
            </table>
        }
    </tui-loader>
</ng-container>

<!-- Слоты для переопределения контента -->
<ng-content></ng-content>
